{
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "useTabs": false,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "quoteProps": "consistent"
}
