{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 100,

  "bracketSameLine": false,
  "objectWrap": "preserve",
  "experimentalOperatorPosition": "end",
  "experimentalTernaries": false,
  "jsxSingleQuote": true,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "proseWrap": "preserve",
  "insertPragma": false,
  "requirePragma": false,
  "tabWidth": 2,
  "embeddedLanguageFormatting": "auto"
}
